[submodule "datasci_course_materials/datasci_course_materials_clone"]
	path = datasci_course_materials/datasci_course_materials_clone
	url = https://github.com/uwescience/datasci_course_materials.git
[submodule "datasci_course_materials/datasci_course_materials"]
	path = datasci_course_materials/datasci_course_materials
	url = ./datasci_course_materials/datasci_course_materials/.git
